SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

TIME_ZONE=America/Sao_Paulo

# PostgreSQL
DB_NAME=monitoria_ifmg
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

